.DS_Store
.backups
.private
.clj-kondo
.lsp
.zshrc.swp
/.emacs.d/config.el
.nrepl-port
.cpcache
.apl.history
.config/clj-kondo/hooks/instaparse.clj
.config/clj-kondo/hooks/quil.clj
.config/clj-kondo/hooks/tengen.clj
